*.tar.gz

*.exe
src/zixx
src/zixxd
src/zixx-cli
src/zixx-tx
src/test/test_zixx
src/test/test_zixx_fuzzy
src/qt/test/test_zixx-qt

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

src/qt/zixx-qt.config
src/qt/zixx-qt.creator
src/qt/zixx-qt.creator.user
src/qt/zixx-qt.files
src/qt/zixx-qt.includes

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
zixx-qt
ZIXX-Qt.app
background.tiff*

# Unit-tests
Makefile.test
zixx-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_zixx.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*

!src/leveldb*/Makefile
!depends/Makefile

/doc/doxygen/

libbitcoinconsensus.pc
contrib/devtools/split-debug.sh
qa/pull-tester/tests_config.py
src/test/buildenv.py
qa/pull-tester/run-bitcoind-for-test.sh
